.stats-panel{
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .money{
    position: relative;
    padding-left: 30px;

    &:before{
      content: '';
      display: block;
      position: absolute;

      width: 42px;
      height: 45px;

      background-image: url("../../img/icons.png");
      background-position: -385px 0;
      background-repeat: no-repeat;
      transform: scale(.4);

      top: -12px;
      left: -5px;
    }
  }
}