.goods{
  display: inline-block;
  padding: 0;
  margin: 0;

  .good-item{
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #877f72;
    margin: 5px;
    vertical-align: top;

    font-size: 12px;

    background-image: url("../../img/icons.png");
    background-repeat: no-repeat;

    &:hover{
      filter: brightness(110%);
    }

    .good-quantity{
      position: absolute;
      background: rgba(135, 127, 114, 0.66);
      bottom: 0;
      left: 0;
      right: 0;
      height: 14px;
      color: white;
      text-align: center;
      font-size: 10px;
      pointer-events: none;
    }

    .good-description{
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      padding: 2px 5px;
      pointer-events: none;
      background: #2d251a;
      opacity: 0;
      font-size: 10px;
    }
    &:hover .good-description{
      opacity: .9;
    }

    &.item-1{
      background-position: 0 0;
    }
    &.item-2{
      background-position: -55px 0;
    }
    &.item-3{
      background-position: -110px 0;
    }
    &.item-4{
      background-position: -165px 0;
    }
    &.item-5{
      background-position: -220px 0;
    }
    &.item-6{
      background-position: -275px 0;
    }
    &.item-7{
      background-position: -330px 0;
    }
    &.item-8{
      background-position: 0 -55px;
    }
    &.item-9{
      background-position: -55px -55px;
    }
    &.item-10{
      background-position: -110px -55px;
    }
    &.item-11{
      background-position: -165px -55px;
    }
    &.item-12{
      background-position: -220px -55px;
    }
    &.item-13{
      background-position: -275px -55px;
    }
    &.item-14{
      background-position: -330px -55px;
    }
    &.no-item{
      background-image: none;
      background-position: 55px 0;
      cursor: default;
    }

  }
}